#ifndef CAN_CFG_H_
#define CAN_CFG_H_

#define CAN_DEV_ERROR_DETECT            STD_OFF
#define CAN_VERSION_INFO_API            STD_OFF
#define CAN_MULTIPLEXED_TRANSMISSION    STD_OFF  // Not supported
#define CAN_WAKEUP_SUPPORT              STD_OFF  // Not supported
#define CAN_HW_TRANSMIT_CANCELLATION    STD_OFF  // Not supported

#define CAN_USED_CONTROLLER_NUM         <%- hwcfgs.length %>
#define CAN_USED_HOH_NUM                <%- hohs.length %>

#endif
