#ifndef CURRENTM_LCFG_H__
#define CURRENTM_LCFG_H__

<% if (!usersensor1_enable) { %>
#define USERCURRENTSENSOR1_TMPL 1   //模板给出定义
<% } else { %>
#define USERCURRENTSENSOR1_TMPL 0
<% } %>
<% if (!usersensor2_enable) { %>
#define USERCURRENTSENSOR2_TMPL 1   //模板给出定义
<% } else { %>
#define USERCURRENTSENSOR2_TMPL 0
<% } %>
#endif